header,
footer {
  flex: 0 0 auto;
  background-color: var(--card);
}

header {
  border-bottom: 1px solid var(--border);
}

footer {
  border-top: 1px solid var(--border);
}

.site-content {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 2rem;

  /* Firefox */
  scrollbar-width: auto;
  scrollbar-color: var(--card) var(--background);
}

/* Chrome / Edge / Safari */
.content::-webkit-scrollbar {
  width: 14px; /* increased width */
}

.content::-webkit-scrollbar-track {
  background: var(--background);
}

.content::-webkit-scrollbar-thumb {
  background: var(--card);
  border-radius: 8px;
}

.content::-webkit-scrollbar-thumb:hover {
  background: var(--card);
  opacity: 0.85;
}
